<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>0</key>
    <string>rotatePerSecondVariance</string>
    <key>1</key>
    <string>startColorVarianceRed</string>
    <key>20</key>
    <string>startParticleSizeVariance</string>
    <key>30</key>
    <string>sourcePositionVariancex</string>
    <key>200</key>
    <string>speedVariance</string>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <real>0.6</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>200</integer>
    <key>finishParticleSizeVariance</key>
    <integer>50</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>100</integer>
    <key>maxParticles</key>
    <integer>20</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.3</real>
    <key>particleLifespanVariance</key>
    <real>0.2</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <real>323.048433048433</real>
    <key>sourcePositiony</key>
    <real>648.4342084053235</real>
    <key>speed</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <string>startColorRed</string>
    <key>emissionRate</key>
    <integer>200</integer>
    <key>textureUuid</key>
    <string>2dd40e6e-d316-407e-9441-36e9ad6bf2b2</string>
  </dict>
</plist>