<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <false/>
    <key>angle</key>
    <integer>360</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>configName</key>
    <string>particle_puzzle_exp</string>
    <key>duration</key>
    <real>0.2</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <real>0.9999960064888</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>40</integer>
    <key>finishParticleSizeVariance</key>
    <integer>10</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>40</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>300</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.58</real>
    <key>particleLifespanVariance</key>
    <real>0.1</real>
    <key>positionType</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>-400</integer>
    <key>rotatePerSecond</key>
    <integer>360</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>100</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>100</integer>
    <key>sourcePositionVariancex</key>
    <integer>5</integer>
    <key>sourcePositionVariancey</key>
    <integer>5</integer>
    <key>sourcePositionx</key>
    <integer>160</integer>
    <key>sourcePositiony</key>
    <integer>240</integer>
    <key>speed</key>
    <integer>230</integer>
    <key>speedVariance</key>
    <real>93.2203369140625</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.9860710501670837</real>
    <key>startColorGreen</key>
    <real>0.998697817325592</real>
    <key>startColorRed</key>
    <real>0.9525712132453918</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>15</integer>
    <key>startParticleSizeVariance</key>
    <integer>5</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>yCoordFlipped</key>
    <integer>1</integer>
    <key>spriteFrameUuid</key>
    <string>0b380098-6bf2-45b0-9e87-3becf8dcae63</string>
  </dict>
</plist>